* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.4rem;
  font-family: sans-serif;
  color: hsl(220, 4%, 17%);
}

.container {
  width: 50vw;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  padding: 1.4rem;
  column-gap: 1.6rem;
  row-gap: 0.4rem;
  background-color: hsl(220, 33%, 98%);
}

.listItems > h2 {
  padding: 1.4rem;
}

ul {
  padding: 1.4rem;
  background-color: hsl(0, 0%, 100%);
  list-style: none;
}
.text,
.ic-text,
.av-text,
.avtext-ic {
  display: grid;
  align-items: center;
  grid-template: repeat(3, 1fr) / auto 1fr;
  column-gap: 1.6rem;
  row-gap: 1.8rem;
}

.text {
  grid-template-columns: auto;
  min-height: 10.8rem;
}

.ic-text {
  min-height: 9.2rem;
}

.avtext-ic {
  grid-template-columns: auto 1fr auto;
}

.material-icons {
  color: hsl(0, 0%, 46%);
  font-size: 2.4rem;
}

#icon-style {
  background-color: hsl(0, 0%, 74%);
  border-radius: 50%;
  padding: 0.8rem;
  color: hsl(0, 0%, 100%);
}
